.app {
  --bg-color: #e5e5e8;
  --inverted-bg-color: #090949;
  --primary-color: #2A7D9E;
  --secondary-color: #0449e0;
  --inverted-primary-color: black;
  --inverted-secondary-color: #049604;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  --card-bg:white;

  --listbox-bg:white;
}
