

.title{
    font-weight: 700!important;
}

.error {
    .title {
        color: var(--red-ligth);
    }

    .text {
        color: var(--red-dark);
    }
}


.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-primary-color);
    }
}

.gray {
    .title {
        color: var(--gray);
    }

    .text {
        color: var(--gray);
    }
}

.size_m{
    .title{
        font: var(--font-l);

    }
    .text{
        font: var(--font-m);
    }

}
.size_s{
    .title{
        font: var(--font-m);

    }
    .text{
        font: var(--font-s);
    }

}

.size_l{
    .title{
        font: var( --font-xl);

    }
    .text{
        font: var(--font-l);
    }

}

.size_xs{
    .title{
        font: var( --font-s);

    }
    .text{
        font: var(--font-xs);
    }

}


.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}


