.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item:hover{
  opacity: 0.8;
}

.link {
  color: black;
  margin-left: 10px;
  opacity: 1;

}

.icon {
  width: 20px;
  fill: #04ff04;
}
.icon path {
  fill: var(--primary-color);
}

.phone{
  font-weight: 700;
  color: black;
}


