.Navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 ;
}

.logo{
  width: 200px;
  height: auto;
  cursor: pointer;
}

.nav_list{
  display: flex;
  gap: 20px;
}

.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  width: 40px;
}


.bg_navbar {
  border-bottom:1px solid rgba(0,0,0,0.2) ;
}
